<!-- Save Time Block Modal -->
<div class="modal fade" id="saveTimeBlockModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Save Block as New Meal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="saveTimeBlockForm">
                    <input type="hidden" id="saveTimeBlockDate" name="date">
                    <input type="hidden" id="saveTimeBlockMealTime" name="meal_time">
                    
                    <div class="alert alert-info mb-3">
                        You are about to save everything currently tracked in <strong id="saveTimeBlockDisplay"></strong> as a new, reusable Meal.
                    </div>

                    <div class="mb-3">
                        <label class="form-label">New Meal Name</label>
                        <input type="text" class="form-control" id="saveTimeBlockMealName" required placeholder="e.g. My Favorite Lunch">
                    </div>
                    
                    <h6>Ingredients to be saved:</h6>
                    <ul id="saveTimeBlockIngredientsList" class="list-group list-group-flush small mb-3 border rounded">
                        <!-- Populated by JS -->
                    </ul>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="submitSaveTimeBlock()">Save Meal</button>
            </div>
        </div>
    </div>
</div>
